.header{
    background-color: #eaeaea;
    min-height: 15vh;
    border: black;
    margin-bottom: 0;
}

.header-name{
    font-size: calc(30px + 2vmin);
    color: black;
}

.header-body{
    color: #eaeaea;
}

.session-buttons{
    position: absolute;
    margin-left: 870px;
}

.body{
    background-color: #eaeaea;
    display: block;
    margin: 0;
    padding: 0;
}

.subtitle{
    display: inline;
}

.map {
    height: 400px;
    width: 100%;
}